services:
  MetaModels\AttributeContentArticleBundle\EventListener\BackendEventListener:
    public: false
    arguments:
      - '@metamodels.factory'
      - '@database_connection'
    tags:
      - name: kernel.event_listener
        event: 'dc-general.model.post-duplicate'
        method: 'handlePostDuplicationModel'
      - name: kernel.event_listener
        event: 'dc-general.model.post-paste'
        method: 'handlePostPasteModel'
  MetaModels\AttributeContentArticleBundle\EventListener\GetOptionsListener:
    public: false
    arguments:
      - '@metamodels.factory'
    tags:
      - name: kernel.event_listener
        event: 'men-at-work.multi-column-wizard.get-options'
        method: getOptions
